<!DOCTYPE html>
<html>

<head>
    <title>Student Management</title>
</head>

<body>

    <h1>Welcome to {{college}}</h1>
    {% for student in students %}
        <p>Name: {{student.name}}</p>
        <p>Age: {{student.age}}</p>
        <p>Course: {{student.course}}</p>
        <a href="{% url 'edit_student' student.id %}">Edit</a>

         <a href="{% url 'delete_student' student.id %}">Delete</a>

        <hr>
    {% endfor %}

    <form method="POST" action="{% url 'add_student' %}">
    {% csrf_token %}

    <input type="text" name="name" placeholder="Name">
    <input type="number" name="age" placeholder="Age">
    <input type="text" name="course" placeholder="Course">

    <button type="submit">Add Student</button>
    </form>
    <a href="{% url 'logout' %}">Logout</a>

</body>

</html>